CONFIG_PARTITION_TABLE_CUSTOM=y

#
# Chip revision
#
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_0=y

#
# Slave Flasher
#
CONFIG_SLAVE_FLASHER_ENABLE=y
CONFIG_SLAVE_PARTITION_TABLE_ADDRESS=0xC000
CONFIG_SLAVE_APPLICATION_ADDRESS=0x20000
CONFIG_SLAVE_UART_RX_PIN=36
CONFIG_SLAVE_UART_TX_PIN=35
CONFIG_SLAVE_GPIO0_TRIGGER_PIN=33
